@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  @apply bg-secondary;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  @apply bg-background;
}

::-webkit-scrollbar-thumb:active {
  @apply bg-tertiary;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: theme('colors.secondary') theme('colors.background');
  /* Cor da barra e trilha, respectivamente */
}

.backdrop-blur {
  backdrop-filter: blur(5px);
}

input[type="password"]::-ms-reveal {
  display: none;
}